# General
/.vscode
*.DS_Store
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Frontend Related
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

/frontend/coverage
/frontend/build
/frontend/.DS_Store

# Backend Related
/Backend/bin
/Backend/obj
/Backend/.DS_Store














