#login-component{
    margin:0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-smoothing:grayscale;
    background:url('https://www.shutterstock.com/image-illustration/3d-render-wallpaper-abstract-color-600nw-2329074805.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width:700px
  
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    width:100%;
  }
  
  .navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-center .nav-links li {
    margin-right: 1rem;
  }
  
  .navbar-center .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right .cart-icon,
  .navbar-right .user-icon {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    position: relative;
  }
  
  .navbar-right .cart-count {
    background-color: #f44336;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
  }

.wrapper{
    width:450px;
    background-color: transparent;
    color:white;
    border-radius: 10px;
    padding: 30px 40px;
    border:2px solid red;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(255,255,255,.2);
}

.wrapper h1{
    font-size: 40px;
    text-align: center
}
h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
/* p{font-size: 25px;line-height: 50px;} */
.wrapper .input-box{
    position:relative;
    width:100%;
    height:60px;
    margin: 30PX 0;
}


.input-box input{
    width:100%;
    height:100%;
    background-color: transparent;
    outline:none;
    border:none;
    border-radius: 40px;
    border:2px rgba(255,255,255,.2);
    font-size: 20px;
    color:white;
    padding-left: 10px;


}

.input-box input::placeholder{
    color:white
}
.input-box .icon{
    position:absolute;
    right:10px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;

}

.wrapper .remember{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: -15px 0 15px;
}

.remember label input{
    accent-color: white;
    margin-right: 5px;
}

.remember a{
color:white;
position: relative;
left:200px;
text-decoration: none;

}
.remember a:hover{
    text-decoration: underline;
}

button{
    width:100%;
    height:45px;
    background-color: white;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 20px;
    color:#333;
    font-weight: 800;
}

.register{
    text-align: center;
    margin:20px 0 15px;
    font-size: 15px;
}

.register> p> a{
    color:white;
    text-decoration: none;
    font-weight: 700;
}
.register> p >a:hover{
    text-decoration: underline;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it appears on top of other content */
}

.spinner-content {
  text-align: center;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.25em;
}

.curved-navbar {
  background-color: #333;
  padding: 10px 0;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.curved-navbar::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px; /* Adjust this value to change the curve depth */
  left: 0;
  width: 100%;
  height: 40px; /* Adjust this value to change the curve height */
  background-color: #333;
  border-radius: 50% 50% 0 0;
  z-index: -1;
}

.curved-navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.curved-navbar li {
  margin: 0 15px;
}

.curved-navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  display: block;
  transition: background-color 0.3s;
}

.curved-navbar a:hover {
  background-color: #555;
  border-radius: 5px;
}


/* Navbar styles */
.navigation {
  position: relative;
  width: 400px;
  height: 70px;
  background: linear-gradient(45deg, #fb79da, #ebe1e4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  position: relative;
  width: 70px;
  height: 70px;
  list-style: none;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  transition: .5s;
}
.navigation ul li.active a .icon {
  transform: translateY(-32px);
}
.navigation ul li a .text {
  position: absolute;
  color: #fff;
  font-weight: 400;
  font-size: .75em;
  letter-spacing: .05em;
  opacity: 0;
  transform: translateY(20px);
  transition: .5s;
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.navigation ul li a .circle {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  border: 1.8px solid #fff;
  transform: translateY(-37px) scale(0);
}
.navigation ul li.active a .circle {
  transition: .5s;
  transition-delay: .5s;
  transform: translateY(-37px) scale(1);
}
.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;

  border: 6px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}
.indicator::before {
  content: '';
  color:#fc6bd8;
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 white;
}
.indicator::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 white;
  ;
}
.navigation ul li:nth-child(1).active~.indicator {
  transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active~.indicator {
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active~.indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active~.indicator {
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active~.indicator {
  transform: translateX(calc(70px * 4));
}
.brand:after{
content:"";
font-weight: 400;
font-size: 40px;
animation-name: animatingText;
animation-duration: 2500ms;
animation-iteration-count: infinite;
}

@keyframes animatingText{
  0%{content:"R"}
  10%{content:"RE"}
  20%{content:"REC"}
  30%{content:"RECO"}
  40%{content:"RECOM"}
  50%{content:"RECOME"}
  60%{content:"RECOMEN"}
  70%{content:"RECOMEND"}
  80%{content:"RECOMENDD"}
  90%{content:"RECOMENDD."}
  100%{content:"RECOMENDD.."}
}

.buttonT{
  width:200px;
  background: linear-gradient(45deg, #f321bf, #ebe1e4);
  border-radius:20px;
  color:white;
  cursor: pointer;
}
.animatedButton{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  font-weight: 200;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 50px;
}
.animatedButton:hover{
  background: #03e9f4;
  color:white;
  border-radius: 20px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);

}
.animatedButton:nth-child(1){
  filter: hue-rotate(270deg);
}
.animatedButton:nth-child(2){
  filter: hue-rotate(110deg);
}

.animatedButton span{
  position: absolute;
  display: block;
}
.animatedButton span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.animatedButton span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.animatedButton span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}
.animatedButton span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}

.searchButton{

  width:50px;
  border-radius:50%;
  position:absolute;
  top:190px;
  right:760px;
  height:40px;
  border:none;
  
}
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 50px ;
  margin-bottom: 50px;
}

.slides {
  display: flex;
  width: calc(200%); /* Double the width for seamless looping */
  animation: scroll 30s linear infinite; /* Adjust duration for speed */
}

.slide-image {
  width: 300px; 
  height:200px;/* Adjust based on the number of images */
  flex-shrink: 0;
  margin-right: 30px;
  border-radius: 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move through all images */
  }
}
/* SlideUpDiv.css */

.slide-up-div {
  position: fixed;
  bottom: -100%; /* Start hidden below the viewport */
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  transition: bottom 0.5s ease-in-out;
  z-index: 1000; /* Ensure it's above other elements */
}

.slide-up-div.active {
  bottom: 0; /* Move the div to be visible at the bottom */
}





/* .navigation{
  position:relative;
  width:400px;
  height:100px;
  display:flex;
  justify-content:center;
  align-items:center;
  border:1px solid red;
  border-radius:20px;
  background-color: white;
}

.navigation > ul > li{

  position:relative;
  list-style:none;
  width:70px;
  height:70px;
  z-index:1;
}
 

.navigation > ul > li >a{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:100%;
    text-align:center;
    font-weight:500px
  
  }

  .navigation > ul > li >a>.icon{

    position:relative;
    display:block;
    line-height:75px;
    font-size:1.5em;
    text-align:center;
    transition:0.5s;
    color: var(--clr);
  }

  .navigation > ul > li.active a .icon{

    transform: translateY(-40px);
   

  }

  .navigation >ul >li >a >.text {

    position: absolute;
    color:black;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity:0;
  }
  .navigation > ul > li.active a .text{
    opacity:1;
    transform:translateY(10px);
  }

  .indicator{

    position:absolute;
    top:-30%;
    width:70px;
    height:70px;
    background-color: green;
    border-radius: 50%;
    border:6px solid black;
    transition: 0.5s;

  }

  .indicator::before {
    content: "";
    position: absolute;
    top: 40%;
    left: -24px;
    width: 20px;
    height: 20px;
    background:transparent;
    border-top-right-radius: 30px;
    box-shadow: 0px -12px 0 0 black;
    
  }
  .indicator::after {
    content: "";
    position: absolute;
    top: 40%;
    right: -24px;
    width: 20px;
    height: 20px;
    background:transparent;
    border-top-left-radius: 30px;
    box-shadow: 0px -12px 0 0 black;
    
  }
 */


